*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
	scroll-padding-block: 6vw;
}

.root {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  color: var(--color-black);
  font-family: var(--font-helveticaneuecyr);
}

.upper-text {
	text-transform: uppercase;
}

.normal-text {
	text-transform: none;
}

.center {
	text-align: center;
}

.header {
  position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
  font-size: var(--fz-xl);
	font-weight: bold;
	text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.375rem;
	background: #000;
	z-index: 1000;
}

footer {
	height: 520px;
	bottom: 0;
}

/* border: 3px solid #DFDFDF; */

.header-child {
	padding: .8rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-child .header-item {
	color: #fff;
	white-space: nowrap;
	margin: 0 1.125vw;
	transition: color .2s;
}

.header-item:hover {
	color: #FF5500
}

.header-item.last {
	font-size: 2rem !important;
}

.hero {
	position: relative;
	z-index: 100;
}

.swiper-slide {
	background: #fff;
}

.swiper-slide:hover {
	cursor: pointer;
}

.marquee {
  --gap: 5rem;
	font-size: var(--fz-xl);
	height: 3rem;
  position: relative;
  display: flex;
	align-items: center;
	overflow: hidden;
  user-select: none;
	background: #fff;
}

.marquee__content {
  display: flex;
	list-style: none;
	white-space: nowrap;
  justify-content: space-around;
  min-width: 100%;
	animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.marquee__content > * {
  text-align: center;
	font-weight: bold;
	transform: translateY(-0.3125rem);
}
.hero-container {
	
}

.banner-container {
	overflow: hidden;
}

.hero-item {
	width: 100%;
}

.banner-image {
	width: 100%;
	object-fit:cover;
}

.hero-image {
	width: 100%;
	height: 100%;
	object-fit:cover;

}

.swiper-button-prev, .swiper-button-next {
	color: #666 !important;
	opacity: 0.2;
	transition: .3s opacity;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
	opacity: 1;
}

.section-header {
	font-size: 6rem;
	text-transform: uppercase;
}

.products-container {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 5rem 0;
}

.products-item {
	position: relative;
	overflow: hidden;
	display: flex;
	margin: 0 2vw;
	padding: 1.75vw 1.3vw;
	flex-direction: column;
	background: #fff;
	height: 18rem;
	width: 35rem;
	border-radius: 1.25rem;
	transition: scale .3s;
}

.products-item:hover {
	scale: 1.05;
}

.product-name {
	width: 80%;
	color: #000;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	letter-spacing: 0.125rem;
}

.product-image {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#products, #about, #feedback, #cases,
.types, .materials, .technologies, .steps {
	margin: 3rem 0;
}

#about {
	background-color: #fff;
	border-radius: 6.25rem;
	padding: 2.75vw 1.8vw;
}

#about .cards-container .cards-item {
	border-radius: 1.875rem;
	overflow: hidden;
}

#about .cards-container .cards-image {
	transition: scale 1s;
}

#about .cards-container .cards-item:hover .cards-image {
	scale: 1.02;
}

#about .cards-container .cards-item b {
	letter-spacing: .5px;
}

#about .cards-container {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

#about .cards-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#about .cards-container .cards-item {
	height: 36.625rem;
}

.cards-container {
	display: flex;
	gap: 1.2rem;
}

.cards-row {
	position: relative;
	display: flex;
	gap: .7rem;
	justify-content: space-between;
	width: 100%;
}

.cards-item {
	position: relative;
	width: 100%;
	flex-grow: 1;
	overflow: hidden;
}

.cards-item .main-text {
	font-size: 2.5rem;
	letter-spacing: -2.5px;
	line-height: 1.85;
}

.cards-item.text {
	padding: 2.15rem 1.75rem;
	font-size: 2.25rem;
	letter-spacing: 1px;
	background: var(--color-whitesmoke);
}

#about .cards-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.a-paragraph {
	font-size: 2rem;
	margin: 1.5rem 0;
	line-height: 1.4125;
	letter-spacing: 2.95px;
}

.order-btn {
	position: absolute;
	bottom: 4rem;
	background: #FF5500;
	padding: .875rem 2.3rem;
	text-align: center;
	color:#fff;
	border-radius: 15px;
	letter-spacing: 3px;
	font-family: 'Bebas Neue';
	transition: background-color .3s;
}

.order-btn:hover {
	background: #CF4500;
}

.cards-row.last {
  height: 22.5vw;
	padding-bottom: 1rem;
	background-image: url(../images/rectangle_1.svg);
	background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
	font-size: 2.5rem;
}

.cards-row.last .cards-item {
	justify-content: center;
	align-items: center !important;
}

.cards-image {
	width: 100%;
	object-fit: cover;
}

#cases .cards-container {
	margin-top: 2rem;
	padding: 1.8025rem;
}

#cases .cards-item {
	width: 33.375rem;
	height: 41.9375rem;
}

#cases .cards-column {
	display: flex;
	flex-direction: column;
	gap: 5.125rem;
}

#cases .cards-container {
	gap: 8rem;
}

.founder-info {
	display: flex;
	gap: 2.125vw;
	align-items: center;
	font-size: 2rem;
	margin: 3rem 0;
}

.founder-info b {
	font-size: 2.5rem;
	letter-spacing: .08rem;
}

.founder-info p {
	line-height: 1.5;
}

.founder-image {
	margin-top: .5rem;
	width: 6.5rem;
}

footer {
	margin: 4.625rem 1.5rem 0 1.5rem;
	padding: 2rem .6rem;
	border-top: .1875rem solid #DFDFDF;
}

.footer-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.f-paragraph {
	font-size: 36px;
	font-weight: 600;
	letter-spacing: -1.5px;
}

.f-phone {
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: 0.4125rem;
}

.f-mail {
	font-size: 2.25rem;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: .5rem;
	text-decoration-thickness: .125rem;
	transition: .5s;
}

.f-mail:hover {
	text-underline-offset: .75rem;
	color: #FF5500;
}

.a-group {
	font-size: 4rem;
}

.a-group-info {
	list-style: none;
	font-weight: 600;
	font-size: 2.25rem;
	text-align:end;
}

.a-group-info li a {
	transition: opacity .3s;
}

.a-group-info li:hover a {
	opacity: .65;
}

.case-style-0 {
	border-radius: 0px;
}

.case-style-1 {
	border-bottom-right-radius: 200px;
}

.case-style-2 {
	border-top-right-radius: 200px;
}

.case-style-3 {
	border-top-left-radius: 200px;
}

.case-style-4 {
	border-bottom-left-radius: 200px;
}

#cases .cards-item {
	transition: border-radius .3s;
}

#cases .cards-item:hover {
	border-radius: 200px;
}

#cases .cards-item.info {
	border-radius: 0;
}

#feedback {
	background: #000;
	margin: 8rem 2rem 3.5rem 2rem;
	border-radius: 20px;
	padding: 2vw 1.625vw 3vw;
}

.feedback-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

#name, #phone, #comment {
	width: 100%;
	height: 5.75rem;
	font-size: 2rem;
	border-radius: 1.25rem;
	padding: 1vw;
	margin-top: .625vw;
	border: none;
	color:#000;
	transition: outline .1s;
}

#name {
	margin-top: 5rem;
}

#name:focus, #phone:focus, #comment:focus {
	outline: #F76326 3px solid;
}

#feedback-btn {
	width: 100%;
	height: 6.25rem;
	font-size: var(--fz-3xl);
	font-weight: 600;
	color: #fff;
	background: #FF5500;
	margin-top: 5rem;
	border: none;
	border-radius: 15px;
	text-align: center;
	transition: background-color .3s;
}

#feedback-btn:hover {
	background: #CF4500;
}

.feedback-form > * {
	width: 50%;
}

#feedback .section-header, 
#feedback .feedback-data-input .info {
	color: #fff;
}

#feedback .feedback-data-input > * {
	font-weight: normal;
}

.feedback-bg {
	position: absolute;
	-webkit-text-stroke:1px #fff;
	opacity: .1;
	font-family: Neutral Face;
	font-size: 6rem;
	line-height: 120%;
	top: 7.5rem;
}

.feedback-data-input .info {
	margin-top: .625rem;
	font-size: 2.25rem;
	letter-spacing: .0375rem;
	line-height: 155%;
	font-weight: 500;
}

.personal-agreement {
	color:#fff;
	font-size: 1.25rem;
	letter-spacing: .04rem;
}

.personal-agreement a {
	text-decoration: underline;
}

#clients {
	margin: 4rem 0;
}

#clients .cards-container {
	flex-direction: column;
	gap: 4.25vw;
}

#clients .cards-row {
	display: flex;
	gap: 2.5rem;
}

#clients .cards-item {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: scale .3s;
}

#clients .cards-item:hover {
	scale: 1.2;
}

#clients .cards-image {
	object-fit: fill;
	width: 13.75rem;
	height: 6.0625rem;
}
