.corporate-cloth .hero, .blank-cloth .hero, .materials, 
.types, .technologies, .steps, .prices, 
.color-pallette {
	padding: 2.5vw 2vw !important;
}

.corporate-cloth .hero .hero-desc,
.blank-cloth .hero .hero-desc {
	font-size: var(--fz-xl);
	margin-bottom: 1vw;
	letter-spacing: -0.0313rem;
	line-height: 1.25;
}

.hero-container .section-header {
	margin-bottom: 1.5rem;
}

.btn-style-1 {
	background: #000;
	width: 24.375rem;
	height: 5.25rem;
	font-size: 3rem;
}

.btn-style-1:hover {
	background: #666;
}

.types .swiper-slide {
	background: transparent;
}

.form__button {    
	position: relative;
	display: flex;    
	background-color: rgba(0, 0, 0, 0.349);
	padding: 20px 20px;   
	color: green;
	font-size: 16px;    
	justify-content: center;
	text-decoration: none;    
	text-transform: uppercase;
	overflow: hidden;    
	width: 100%;
	border: 1px solid green;    
	transition: .5s;
	margin-top: 20px;    
	margin-bottom: 10px;
	letter-spacing: 4px;    
	p {
		font-weight: 500;    }
	}
.form__button:hover {
	background: green;
	color: #fff;
	border-radius: 5px;    
	box-shadow: 0 0 5px green,
							0 0 25px green,                
							0 0 50px green,
							0 0 100px green;  
	}

.upper-text > * {
	line-height: 1;
}

.blank-cloth, .corporate-cloth, .souvenir-product {
	width: 100%;
  height: 100%;
	background-image: url(../images/banner-bg-2.png);
	background-size: 100% 66.6%;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.color-pallette .desc {
	width: 71.1875rem;
	margin: 2vw 0;
	font-size: var(--fz-3xl);
	font-weight: normal;
	letter-spacing: 1.05%;
	line-height: 3.4375rem;
}

.colors-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.color-pick {
	width: 4.6875rem;
	height: 4.6875rem;
	border-radius: var(--br-5xl);
	overflow: hidden;
	transition: all .5s;
}

.color-pick img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.color-pick:hover {
	scale: 1.5;
}

.corporate-cloth {
	width: 100%;
  height: 100%;
	background-image: url(../images/banner-bg.png);
	background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.corporate-cloth.c {
	background-image: url(../images/banner-bg-3.png);
	background-size: 100% 66%;
	background-position: right top;
}

.corporate-cloth .hero, .blank-cloth .hero {
	min-height: 35vw;
}

.blank-cloth .order-btn,
.corporate-cloth .order-btn {
	bottom: 0;
}

.desc-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.types .section-header,
.materials .section-header, 
.technologies .section-header {
	margin-bottom: 2vw;
}

.materials-container {
	display: flex;
	flex-direction: column;
}

.materials-row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.materials-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.materials-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-size: var(--fz-4xl);
	font-weight: 700;
	text-transform: uppercase;
	border-radius: var(--br-xl);
	overflow: hidden;
	transition: .3s;
}

.materials-item .text, .materials-item .header-text {
	color: #fff;
	margin: 2rem 2.5rem;
	opacity: 1;
	transition: opacity .4s;
	z-index: 888;
}

.materials-item .desc {
	width: 80%;
	text-transform: none;
	margin: 1.5rem 2.5rem;
	font-size: var(--fz-xxl);
	font-weight: normal;
	color:#fff;
}

.materials-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	visibility: visible;
	scale: 1;
	transition: .2s;
}

.overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: #C1C0BD;
	transition: opacity .3s;
	z-index: 888;
}

.overlay .desc, .overlay .text {
	transform: translateY(2rem);
	transition: transform .6s;
}

.materials-item:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

.materials-item:hover .header-text {
	opacity: 0;
}



.materials-item:hover .overlay .text, 
.materials-item:hover .overlay .desc {
	transform: translateY(-2rem);
}


.materials-item.a {
	width: 33.75rem;
	height: 53rem;
}

.materials-item.b {
	width: 44.1875rem;
	height: 25.4375rem;
}

.materials-item.a:hover, 
.materials-item.b:hover {

}

.steps {
	position: relative;
}

.types .order-btn {
	position: static;
	font-size: var(--fz-3xl);
} 

.steps .order-btn {
	bottom: 20rem;
	font-size: var(--fz-3xl);
}

.cards-header {
	font-size: var(--fz-3xl);
	margin-bottom: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.technologies .cards-item {
	width: 35.25rem;
	flex-grow: 0;
	background: var(--color-lightgray);
}

.technologies .cards-image, .technologies .cards-item {
	border-radius: var(--br-xl);
}

.cards-item .desc {
	width: 28.5625rem;
	font-weight: 400;
	font-size: var(--fz-xl);
	line-height: 1.45;
}

.cards-item .info {
	padding: 2.25rem 2rem;
}

.types .desc-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
  height: 600px;
	background-image: url(../images/rectangle_2.svg);
	background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
	font-size: 2.5rem;
}

.description {
	font-weight: 500;
	line-height: 1.8;
	font-size: var(--fz-xxl);
	padding: 2rem 0;
}

.product-card {
	display: flex;
	flex-direction: column;

}

.swiper-wrapper {
	width: auto;
}

.product-container {
	position: relative;
	width: 35.25rem;
	height: 28.8125rem;
	border-radius: var(--br-xl);
	overflow: hidden;
	background-color: #eee;
}

.product-header {
	font-size: var(--fz-xxl);
	text-transform: uppercase;
	padding: 2rem;
}

.product-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.modal-postmessage b {
	font-size: var(--fz-xl);
}

@media (min-width: 1280px) {
	html {
		/* font-size: 16px; */
	}
}




